.certifications {
    
    margin-bottom: 4rem;
    padding: 3rem 3rem;
    border-radius: 5px;
    width: 75%;

    background-color: white;
    //margin-top: 7rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h2 {
        text-align: center;
        margin-bottom: 4rem;
    }

    .certificationsContainer {

        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        //flex-wrap: wrap;
        gap: 1rem;
        //align-items: center;

        .certification {
            //border: 1px solid red;
            display: flex;
            align-items: center;
            flex-direction: column;
            //height: 25rem;
            width: 100%;
            align-self: center;
            
            padding: 0.5rem;
            border-radius: 5px;

            .imageContainer {

                width: 100%;
                height: 18rem;
                align-self: center;

                img {
                
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                }

            }

            .title {
                height: 3rem;
                width: 100%;
                margin: 0.5rem;
                //border-radius: 4px;
                
                text-align: center;
                background-color: black;
                color: white;
                
                h4 {
                    //vertical-align: middle;
                    font-size: 0.8rem;
                    padding: 0.8rem;
                    line-height: 1.2rem;
                    letter-spacing: 1px;
                }
                
            }

            .description {
                height: 15rem;
                width: 13rem;
                font-size: 0.9rem;
            }
            
        }

    }
        
}

@media (max-width: 480px) {
        
    .certifications {
        
        width: 90%;
        margin: 1rem 0 1rem 0;
        padding: 2rem;
    
        .certificationsContainer {

            grid-template-columns: 1fr;
                            
            .certification {
                
                //height: 20rem;
                width: 100%;
                
                .imageContainer {
                
                    width: auto;
                    //height: 14rem;
                        
                }

            
            }
        }
    
    }
    
}

