.contact {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    padding: 3rem 0 3rem 0;
    background-color: white;
    margin-bottom: 4rem;
    border-radius: 5px;

    h2 {
        text-align: center;
    }

    .contactInfo {
        
        width: 60%;
        margin-top: 2rem;
        line-height: 2rem;
        justify-content: space-between;

        .email {
            padding: 1rem 0 2rem 0;
            font-weight: bolder;
            text-align: center;
        }
    }

    .contactForm {
        
        width: 60%;
        margin: 3rem 0;

        form {
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            width: 100%;
            
            label {
                display: block;
            }

            p {
                //margin: ;
                padding: 1rem;
            }

            input, textarea {
                width: 100%;
                border: none;
                padding: .7em;
                outline: 0;
                border-bottom: 1px solid gray;
            }

            button {
                border: none;
                margin-top: 1.5rem;
                padding: 1rem 0;
                background-color: #335EFF;
                color: white;
                font-size: 1rem;
                width: 80%;
                align-self: center;
                border-radius: 5px;
            }
        }

        .notification {

            display: flex;
            visibility: hidden;
            justify-content: center;
            height: 1.5rem;
            color: green;
            font-weight: bolder;
            font-size: 0.8rem;
            margin: 1rem auto;
            
        }

        .visible {
            visibility: visible;
        }
    }

}   

@media (max-width: 480px) {

    // contact
    .contact {
        width: 90%;
        margin: 1rem 0 1rem 0;

        .contactInfo,
        .contactForm {
            width: 80%;
        }
    }
    
}