.logo {
    
    width: 25%;
    display: flex;
    justify-content: center;

    a {
        display: flex;
        user-select: none;

        .bracket {
            font-size: 3rem;
            color: black;
        }

        .content {
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            color: black;

            .name {
                
                font-size: 2rem;
                letter-spacing: 0.1rem;
                font-weight: bolder;
                font-family: 'Courier New', Courier, monospace;

            }
        
            .position {

                text-transform: uppercase;
                letter-spacing: 0.2rem;
                font-weight: bolder;
                font-size: 0.7rem;
                align-self: center;
            }
        }
    }

    
    
}

@media (max-width: 480px) {
        
    .logo {
        //padding-left: 2rem;
        //background-color: yellow;
        width: 70%;
        //margin-left: 2rem;
    }
}