.navbar {

    width: 45%;
    font-weight: bolder;
    align-self: center;
    
    ul {

        display: flex;
        justify-content: space-evenly;
        text-transform: uppercase;

        li {
            letter-spacing: 1.5px;
            font-size: 14px;
            
            a {
                color: black;
            }

            :hover {
                text-decoration: underline;
            }
        }

    }
    
}

@media (max-width: 480px) {
    .navbar {
        
        display: none;
    }    
}
