
.skills {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    padding: 3rem 3rem;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 4rem;

    .skillsContainer {

        width: 70%;
        padding-top: 3rem;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;

        .skillCard {
            display: flex;
            flex-direction: column;
            height: 8rem;
            width: 8rem;
            justify-content: space-between;
            align-items: center;
            border: 0.1px solid gray;
            border-radius: 20px;
            padding: 1rem 0;
            font-size: 0.8rem;
            margin: 0 auto;

            img {
                width: auto;
                height: 4rem;
            }

        }
    }
}


@media (max-width: 480px) {
    // skills
    .skills {
        
        margin: 1rem 0 1rem 0;
        padding: 2rem;
        width: 90%;


        .skillsContainer {

            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            //gap: 0.3rem;

        .skillCard {
            //background-color: red;
            width: 6rem;
            height: 6rem;
            
            img {
                height: 2rem;
            }
        }
    }
    }
    
}