---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero';
import Projects from '../components/Projects';
import About from '../components/About';
import Skills from '../components/Skills';
import Certifications from '../components/Certifications';
import Contact from '../components/Contact';    
---

<Layout title="Sandro Simón">
	<main>
		<Hero client:load />
		<Projects client:load />
		<About client:load />
		<Skills client:load />
		<Certifications client:load />
		<Contact client:load />		
	</main>
</Layout>

<style lang="scss">

	main {
		width: 100%;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	background-color: #EFF1F0;
	}
	
</style>

<script>
	// This does not work, it produces a blink
	//import { lang } from '../store/language';
	//lang.set('esp')
</script>