---

const footerSocialMedia = [
    { link: 'https://linkedin.com/in/sandrosimonore/', icon: 'https://cdn-icons-png.flaticon.com/512/2111/2111532.png', 'title':'Linkedin'},
    { link:'https://github.com/sandrosimonore', icon: 'https://cdn-icons-png.flaticon.com/512/4926/4926624.png', 'title':'Github'}
]

---

<section class="social-media">
    
    {footerSocialMedia.map(sm => (
        <div class="icon-container">
        <a href={sm.link} target="_blank" rel="noopener noreferrer">
            <div class="icon">
                <img src={sm.icon} alt="">
            </div>
            <div>
                <span class="title">{sm.title}</span>
            </div>
        </a>
        </div>
    ))}
    
</section>


<style lang="scss">

    $smartphone: '(max-width: 480px)';
    
    .social-media {

        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        
        .icon-container {

            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .icon {
                border-radius: 50%;
                background-color: white;
                width: 4rem;
                height: 4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;
                
                img {
                    width: 2rem;
                    height: 2rem;
                }

            }

            .title {
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 2.5rem;
                letter-spacing: 1.3px;
            }

        }

        @media #{$smartphone} {
            width: 70%;
        }
    
    }

</style>