---
import '../styles/styles.scss';
import LanguageToogle from '../components/LanguageToogle';
//import ThemeToogle from '../components/ThemeToogle.astro';
import Logo from '../components/Logo';
import Navbar from '../components/Navbar';
import SocialMedia from '../components/SocialMedia.astro';

const { title } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="SANDRO SIMON - FULL STACK DEVELOPER" />
    <meta property="og:description" content="Welcome to my website, a space where I share the web projects that I make as part of my learning process." />
    <!-- <meta property="og:image" content="./img/linkedin-preview.png" /> -->
    <title>{title}</title>
</head>
    
<body>
    
    <header class="header">
        <Logo />
        <Navbar client:load />
        <div class="widgets-container">
            <LanguageToogle client:load />
            <!-- <ThemeToogle />  -->
        </div>

    </header>

    <slot />
   
    <footer class="footer">
        <SocialMedia />
    </footer>

    <!-- <Notification client:load /> -->
    

</body>
</html>

<style lang="scss">

    .header {

        width: 100%;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 0 2rem;
        height: 5rem;
        box-shadow: 0 0 4px gray;

        .widgets-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 5rem;
        }

    }
    
    .footer {

        background-color: black;
        height: 10rem;
        display: flex;
        justify-content: center;
        font-size: 0.9rem;
    }

    @media (max-width: 480px) {
        .header {
            
            .widgets-container {
                width: 3rem;
            }
        }

    
    }

</style>
